
body {
  margin: 0;
  font-family: Arial, sans-serif;
  
	}

	.navbar {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;
  background-color: #90AB8B;
  padding: 10px 0;
  
	}

	.nav-bar {
  list-style: none;
  display: flex;
  justify-content: right;
  justify-content: right;
  gap: 90px;
	text-align: right;
	
	}

	.nav-bar li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
    
	}
	
	.content {
			padding : 70px 10px;
			background-color : #5A7863;
			text-align: center; 
			position: fixed; 
			color :white;

}
	
	 
       .nav-bar li a:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
       
        h1 {
  transition: text-shadow 0.3s ease, transform 0.3s ease;
}

h1:hover {
  text-shadow: 0 0 10px rgba(255,255,255,0.8);
  transform: translateY(-3px);
}
        
        
        
	
	.image{
		width : 100%;
			height : 200px;
			object-fit : cover;
			
	padding: 2px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0.1);
	width: 300px;
	text-align : left;
	
	}
	
	.contentt {
  padding: 50px;
   display: flex;
  justify-content: center; /* tengah horizontal */
  align-items: center;     /* tengah vertikal */
  height: 70vh; 
  margin-left : 270px;
  
  
}

.info-card {
  background-color: #5f7f6d;
  color: #ffffff;
  width: 500px;
  padding: 75px;
  border-radius: 15px;
  
  position: relative;
 
}

.info-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid #cfe3d4;
  padding-bottom: 10px;
}


.info-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border: 2px solid #e7f3ec;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}

.label {
  font-weight: bold;
}




